
<section class="Bottom-Navigatoin">
	<nav class="bottom-nav">
		 <a class="nav-Item ripple" href="/">
			<i class="fa fa-home"></i>
			<span>Home</span>
		 </a>
   
		 <a class="nav-Item ripple js-show-cart" href="#">
			<i class="fa fa-cart-plus"></i>
			<span>Cart</span>
		 </a>
   

		 <a class="nav-Item ripple" href="https://wa.me/8801772512057" target="_blank">
			<i class="fa fa-whatsapp"></i>
			<span>Whatsapp</span>
		 </a>
   
		 <a class="nav-Item ripple" href="/checkout">
		   <i class="fa fa-user"></i>
		   <span>Profile</span>
		 </a>
		 
		 <a class="nav-Item" href="#">
			<input type="checkbox" id="menu-toggle" class="menu-toggle">
			<label for="menu-toggle" class="btn-show-menu-mobile" style="background-color: none;">
				<i class="menu-icon fa fa-bars"></i>
				<i class="cross-icon fa fa-times"></i>
			</label>	
			<span>Menu</span>

		  </a>
	   </nav>
   </section>
